name: Deploy WordPress

on:
  push:
    branches: master
    
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Create tar archive
      run: |
       DATE=$(date +%Y-%m-%d)
        # Exclude the tar file itself and common directories
        tar -czf app_$DATE.tar.gz \
          --exclude='app_*.tar.gz' \
          --exclude='.git' \
          --exclude='.github' \
          --exclude='node_modules' \
          .

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Upload build to S3
      run: |
        DATE=$(date +%Y-%m-%d)
        aws s3 cp app_$DATE.tar.gz s3://hager-app/

    - name: Deploy to Auto Scaling instances via SSM
      run: |
        DATE=$(date +%Y-%m-%d)

        INSTANCE_IDS=$(aws ec2 describe-instances \
          --filters "Name=tag:aws:autoscaling:groupName,Values=WordPress-autoscail" \
          --query "Reservations[].Instances[].InstanceId" \
          --output text)

        for ID in $INSTANCE_IDS; do
          aws ssm send-command \
            --instance-ids $ID \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy WordPress" \
            --parameters commands="
              aws s3 cp s3://hager-app/app_$DATE.tar.gz /tmp/ &&
              tar -xzf /tmp/app_$DATE.tar.gz -C /tmp &&
              rsync -av --delete /tmp/ /var/www/html/
            "
        done
